# This is the network config written by 'subiquity'
network:
  ethernets:
    {{ netplan_config_ethernet }}:
      dhcp4: false
      dhcp6: false
      addresses: {{ netplan_config_addresses }}
      gateway4: {{ netplan_config_gateway4 }}
      nameservers:
        addresses: {{ netplan_config_nameservers }}
  version: 2
