Host pve
    HostName 192.168.100.12
    User root
    IdentityFile ~/.ssh/id_ed25519

Host ds218play
    User hiroga
    IdentityFile ~/.ssh/id_ed25519

# インデントに関わらず最初にマッチしたMatchブロックが適用されるため、hostを省略しない。
Match host ds218play localnetwork 192.168.100.0/24
    HostName ds218play.local
Match host ds218play
    HostName ds218play

Host hiroga-rtx4090
    User hiroga
    IdentityFile ~/.ssh/id_ed25519

Host wsl.hiroga-rtx4090
    User hiroga
    Port 2222
    IdentityFile ~/.ssh/id_ed25519

Match host hiroga-rtx4090,wsl.hiroga-rtx4090 localnetwork 192.168.100.0/24
    HostName hiroga-rtx4090.local
Match host hiroga-rtx4090,wsl.hiroga-rtx4090 
    HostName hiroga-rtx4090
