Host pve
    HostName 192.168.100.12
    User root
    IdentityFile ~/.ssh/id_ed25519

# mDNS
Host ds218play.local
    User hiroga
    IdentityFile ~/.ssh/id_ed25519

Host hiroga-rtx4090.local
    User hiroga
    IdentityFile ~/.ssh/id_ed25519

Host wsl.hiroga-rtx4090.local
    HostName hiroga-rtx4090.local
    User hiroga
    Port 2222
    IdentityFile ~/.ssh/id_ed25519

# Tailscale
Host hiroga-rtx4090
    User hiroga
    IdentityFile ~/.ssh/id_ed25519

Host wsl.hiroga-rtx4090
    HostName hiroga-rtx4090
    User hiroga
    Port 2222
    IdentityFile ~/.ssh/id_ed25519
