Host pve
    HostName 192.168.100.12
    User root
    IdentityFile ~/.ssh/id_ed25519

Host ds218play
    HostName 192.168.100.13
    User hiroga
    IdentityFile ~/.ssh/id_ed25519

Host HIROGA-RTX4090
    HostName 192.168.100.9
    User hiroga
    IdentityFile ~/.ssh/id_ed25519
    Loglevel VERBOSE

Host udon
    HostName 192.168.100.110
    User hiroga
    IdentityFile ~/.ssh/id_ed25519

Host wasabi
    HostName 192.168.100.150
    User hiroga
    IdentityFile ~/.ssh/id_ed25519

Host walnut
    HostName 192.168.100.155
    User hiroga
    IdentityFile ~/.ssh/id_ed25519
