services:
  ollama:
    volumes:
      - ollama:/root/.ollama
    pull_policy: always
    tty: true
    ports:
      - ${OLLAMA_PORT-11434}:11434
    restart: unless-stopped
    image: ollama/ollama:${OLLAMA_DOCKER_TAG-latest}

  open-webui:
    build:
      context: .
      args:
        OLLAMA_BASE_URL: '/ollama'
      dockerfile: Dockerfile
    image: ghcr.io/open-webui/open-webui:${WEBUI_DOCKER_TAG-main}
    volumes:
      - open-webui:/app/backend/data
    depends_on:
      - ollama
    ports:
      - ${OPEN_WEBUI_PORT-3000}:8080
    environment:
      - 'OLLAMA_BASE_URL=http://ollama:11434'
      - 'WEBUI_SECRET_KEY='
    extra_hosts:
      - host.docker.internal:host-gateway
    restart: unless-stopped

  sync:
    image: alpine
    restart: always
    volumes:
      - open-webui:/_data
      - ${SYNC_DIR}:/sync
    entrypoint: >
      sh -c '
        while true; do
          echo "[sync] $(date -Iseconds)"
          rm -rf /sync/open-webui_data.tar.gz
          tar -czf /sync/open-webui_data.tar.gz -C /_data .
          echo "[sync] done"
          sleep ${SYNC_INTERVAL:-86400};
        done
      '
    depends_on:
      - open-webui

  restore:
    image: alpine
    profiles:
      - "restore"
    volumes:
      - open-webui:/_data
      - ${SYNC_DIR}:/sync
    entrypoint: >
      sh -c '
        echo "[restore]"
        rm -rf /_data/*
        tar -xzf /sync/open-webui_data.tar.gz -C /_data --overwrite
        echo "[restore] done"
      '

volumes:
  ollama: {}
  open-webui: {}
