services:
  open-webui:
    build:
      context: .
      dockerfile: Dockerfile
    image: ghcr.io/open-webui/open-webui:${WEBUI_DOCKER_TAG-main}
    volumes:
      - open-webui:/app/backend/data
    ports:
      - ${OPEN_WEBUI_PORT-3000}:8080
    environment:
      - 'WEBUI_SECRET_KEY='
    extra_hosts:
      - host.docker.internal:host-gateway
    restart: unless-stopped

  sync:
    image: alpine
    restart: always
    volumes:
      - open-webui:/_data
      - ${SYNC_DIR}:/sync
    entrypoint: >
      sh -c '
        while true; do
          echo "[sync] $(date -Iseconds)"
          rm -rf /sync/open-webui_data.tar.gz
          tar -czf /sync/open-webui_data.tar.gz -C /_data .
          echo "[sync] done"
          sleep ${SYNC_INTERVAL:-86400};
        done
      '
    depends_on:
      - open-webui

  restore:
    image: alpine
    profiles:
      - "restore"
    volumes:
      - open-webui:/_data
      - ${SYNC_DIR}:/sync
    entrypoint: >
      sh -c '
        echo "[restore]"
        rm -rf /_data/*
        tar -xzf /sync/open-webui_data.tar.gz -C /_data --overwrite
        echo "[restore] done"
      '

volumes:
  open-webui: {}
